@import "tailwindcss";


/* Colors */
:root {
  --color-primary: #1C3557;   /* navy */
  --color-secondary: #F5F5F5; /* soft background */
  --color-accent: #D4A373;    /* earthy gold */
  --color-dark: #1A1A1A;
}


.oooh-baby-regular {
  font-family: "Oooh Baby", cursive;
  font-weight: 400;
  font-style: normal;
}
.bonheur-royale-regular {
  font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  font-style: normal;
}
.google-sans-hero {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}



@keyframes floatIcon {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-3px); }
  100% { transform: translateY(0px); }
}